{% extends "base.html" %}
{% block content %}
<h2>High-Score Leaderboard</h2>
<h3>Rock Paper Scissors</h3>
<p> 	&#128483; &#128175;</p>

<table>
    <tr>
      <th>User</th>
      <th>High-Score</th>
      <th>Number of Games Played</th>
    </tr>
    {% for i in range(length) %}
    <tr>
        
        <td><a href={{ url_for('get_name', player=name[i][0] ) }}>{{ name[i][0] }}</a></td>
        <td>{{ name[i][1][0] }}</td>
        <td> {{ name[i][1]|length }} </td>
    </tr>
  
  {% endfor %}
</table>
{% endblock %}
